
    body {
        
        width: 600px;
        border: 5px solid green;
        padding: 50px;
        margin: 20px;
        padding: 20px;
}
    .container {
        background-color: white;
        padding: 2px;
       
        border-radius: 10px;
        box-shadow: 0 0 10px rgba(132, 49, 49, 0.1);
        width: 100%;
    }
    
    .education h3 {
        color: rgb(65, 78, 131);
    }

    .header h3 {
        color:green
    }
    .skill h3 {
        color: green;
    }
    .education h3 {
        color:green;
    }
    .experience h3 {
        color: green;
    }
    .projects h3 {
        color: green;
    }   
    p {

        line-height: 1;
    
      }
    h4{
        line-height: 0;
    }
    h3{
        line-height: 0
        
    }
    border{
        border: 1px solid black;
    }